<mat-progress-bar mode="indeterminate" color="warn" class="route-change" *ngIf="routeChangeInProgress">
</mat-progress-bar>
<div class="height-adjust" [ngClass]="{
    'height-on-bottom custom-scroll':
      (isXSmall$ | async) === true && (authSvc.isLoggedIn$ | async) === true && showNavbar,
      'height-adjust-setup' : isSetupPage,
    'height-on-top':
      (isXSmall$ | async) === false &&
      (authSvc.isLoggedIn$ | async) === true &&
      showNavbar &&
      isNavBarRequired  
  }">
  <router-outlet></router-outlet>
</div>

<ng-container #previewContainer></ng-container>

<input #appUpdateTitle type="hidden" i18n-value value="App Update" />
<input #appUpdateBody type="hidden" i18n-value value="App has been updated. Do you want to load new version?" />