.background-blue{
    background-color: blueviolet;
}

:root {
    font-size: 16px;
}

//rem calculator
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
  }
  
  @function calculateEm($size) {
    $emSize: $size / 16px;
    @return #{$emSize}em;
  }
  
  @mixin fontSize($size) {
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
  }

  
.recent-tabs{
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    box-shadow: none!important;
    border-radius: unset;
    background: inherit!important; 
}
.tabs-content{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}
.tabs-filter{
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
}
.filter-option{
    margin: 8px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-width: 0 0 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    min-width: 64px;
    line-height: 40px;
    padding: 0 4px;
    overflow: visible;
    font-size: 14px;
    color: #000;
}
.filter-option:first-child {
    margin-left: 0;
}
.filter-option:hover,.active {
    border-bottom: 3px solid #0074b6;
    font-weight: 700;
}

.discuss-card-content{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    background: #fff;
    color: rgba(0,0,0,.87);
    flex: 1;
    height: auto;
    margin-bottom: 16px;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 1.4rem;
    border-radius: 4px;
    width: 100%;
}

.tags{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap; 
}

.tag {
    font-size: 12px;
    display: flex;
    width: auto;
    min-width: max-content;
    height: 32px;
    justify-content: space-between;
    margin-right: 16px;
    align-items: center;
    text-transform: lowercase;
    padding: 8px 16px;
    border-radius: 24px 8px 8px 24px;
    margin-bottom: 8px;
}

.count {
    height: auto;
    background: #fff;
    border-radius: 4px;
    padding: 1px 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 16px;
    margin: 0 0 0 15px;
    color: #0074b6;
    font: 700 14px/21px Lato;
}

@media (max-width: 768px) {
    .discuss-card-content{
        width: auto;
    }
}