@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    font-size: 16px;
   // Base Theme color
	--blue: #024f9d;
	--green: #008840;
	--black: #000000;
	--white: #ffffff;
  
	// Base Theme color variations
	--primary: var(--blue);
	--secondary: #008840;
	--tertiary: #e55a28;
  
	// gray colors shades
	--gray-0: #f2f2f2; // place holder active bg #F2F2F2
	--gray-100: #cccccc; // disable btn bg, icon color #CCCCCC
	--gray-200: #999999; // disable text, place holder text #999999
	--gray-300: #969696; // sub heading 2 #969696
	--gray-400: #999999; // sub heading #666666
	--gray-600: #222222; // Dark theme menu bg color
	--gray-800: #333333; // text color #333333
  
	// primary colors
	--primary-0: #f3f7fa; // bg
	--primary-100: #edf4f9; // default button bg
	--primary-200: #80a7ce; // divider
	--primary-250: #d3e7f4; //pagination bg color
	--primary-300: #7ab4ee; // outline, focus fields
	--primary-400: var(--primary); // button bg, heading, table titles, links, toggles
	--primary-600: #005391; // on press
	--primary-800: #002e50; // hover
  
	// secondary colors
	--secondary-0: #e1ffdf; // toast bg, label
	--secondary-100: #00c786; // button bg bg, toast
	--secondary-200: #07bc81; // button bg
	--secondary-400: var(--secondary); // hover
  
	// tertiary colors
	--tertiary-0: #feedd7; // toast bg, label
	--tertiary-100: #ffa11d; // buttong bg, toast
	--tertiary-400: var(--tertiary); // icon, label, notification bg
  
	// red colors
	--red-0: #fbccd1; // toast bg
	--red-100: #ff6979; // buttong bg, toast
	--red-400: var(--red); // icon color, lable, notification
  
	// common variables 
    --df-body-bg: #e5edf5; // body bg
    --df-theme-bg: white;
    --df-text:#333;
    --df-filter-bg:#f3f3e5;
    --df-card-bg:var(--white);
    --df-btn-default-color:var(--white);
    --df-field-control-bg:var(--white);

    //tabs
    --df-tab-bg: var(--white);
    --df-tab-text: var(--primary);
    --df-tab-bg-active: var(--primary);
    --df-tab-text-active: var(--white);
}

html,
body,
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background:var(--df-body-bg);
}

.change-theme {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1111;
}

//tabs
.recent-tabs{
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    box-shadow: none!important;
    border-radius: unset;
    background: inherit!important; 
    z-index: unset;
    padding-bottom: 0.5rem;

    .tabs-content{
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;

        .tabs-filter{
            display: flex;
            flex: 1 1 0%;
            flex-wrap: wrap;
            
            .filter-option{
                background: var(--df-tab-bg);
                padding: 0.5rem 1rem;
                border-radius: 0.375rem;
                box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
                font-size: .875rem;
                font-weight: 700;
                margin-right: 0.75rem;
                margin-top: 0.5rem;
                transition: all ease .3s;
                display: flex;
                align-items: center;
                cursor: pointer;
                white-space: nowrap;
                text-decoration: none;
                color: var(--df-tab-text);
                &:first-child {
                    margin-left: 0;
                }
                &:hover,&.tabs-active {
                    color: var(--df-tab-text-active);
                    text-decoration: none;
                    background-color: var(--df-tab-bg-active);
                }
            }
        }
    }
}

//tags
.tags{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap; 
    position: relative;
    z-index: 2;
    @media (max-width: 768px) {
        z-index: unset; 
    }
    .tag {
        font-size: 0.75rem;
        display: flex;
        width: auto;
        min-width: max-content;
        max-height: 2rem;
        justify-content: space-between;
        align-items: center;
        text-transform: lowercase;
        margin: 0.5rem 1rem 0.5rem 0;
        padding: 0.5rem 1rem;
        border-radius: 1.5rem;
        cursor: pointer;
    }
}

//scroll css
.topic-list-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 150px) !important;
}

#topic-scroll::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--gray-0);
}

#topic-scroll::-webkit-scrollbar{
	width: 4px;
	background-color: var(--gray-100);
}

#topic-scroll::-webkit-scrollbar-thumb{
	background-color: var(--black);
	border: 2px solid var(--gray-800);
}

//no data in card
.no-card-content {
    cursor: pointer;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    background: var(--df-card-bg);
    color: var(--df-text);
    flex: 1;
    height: auto;
    margin-bottom: 0;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 1rem;
    border-radius: 0.25rem;
    width: auto;
    .no-data-label {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

// rtl css
html[dir='rtl'] .related-discuss-part{
    padding: 0 1.5rem 1rem 0;  
}

html[dir='rtl'] .df-back-btn img {
    margin-right: inherit;
    margin-left: 0.25rem;
}

html[dir='rtl'] .df-close-btn img {
    margin-left: inherit;
    margin-right: 0.25rem;
}

//button css
.df-btn {
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    outline: 0;
    display: inline-block;
    border: 0.0625rem solid;
    cursor: pointer;
    min-width: 4rem;
    border-radius: 0.125rem;
    position: relative;
    line-height: 1;
    text-transform: inherit;
    text-decoration: none;
}

.df-btn-normal{
    height: 2rem;
    padding: 0.5rem 1rem;
    font-size: .75rem;
}

.df-btn-primary{
    background-color: var(--primary-400);
    border-color: var(--primary-400);
    color: var(--df-btn-default-color);
}

.df-btn-secondary {
    background-color: var(--secondary-200);
    border-color: var(--secondary-200);
    color: var(--df-btn-default-color);
}

.df-btn-tertiary {
    background-color: var(--tertiary-100);
    border-color: var(--tertiary-100);
    color: var(--df-btn-default-color);
}

.df-btn-primary.active, .df-btn-primary:active, .df-btn-primary:hover {
    background-color: var(--primary-800);
    border: 1px solid transparent;
}

.df-btn-secondary.active, .df-btn-secondary:active, .df-btn-secondary:hover {
    background-color: var(--secondary-400);
}

.df-btn-tertiary.active, .df-btn-tertiary:active, .df-btn-tertiary:hover {
    background-color: var(--secondary-400);
}