
:root {
    font-size: 16px;
   // base colors
    --blue: #024f9d;
    --yellow: #ffc107;
    --black: #000000;
    --white: #ffffff;
}

.recent-tabs{
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    box-shadow: none!important;
    border-radius: unset;
    background: inherit!important; 
    z-index: unset;
}
.tabs-content{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}
.tabs-filter{
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
}
.filter-option{
    margin: 0.5rem;
    text-decoration: none;
    border: 1px solid var(--gray-400);
    border-width: 0 0 0.125rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    padding: 0.5rem;
    overflow: visible;
    font-size: 0.875rem;
    color: var(--black);
}
.filter-option:first-child {
    margin-left: 0;
}
.filter-option:hover,.tabs-active {
    border-bottom: 0.1875rem solid var(--blue);
    font-weight: 700;
    text-decoration: none;
}

.discuss-card-content{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    background: var(--white);
    color: var(--black);
    flex: 1;
    height: auto;
    margin-bottom: 1rem;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 1rem;
    border-radius: 0.25rem;
    width: 100%;
    z-index: 2;
    @media (max-width: 768px) {
        z-index: unset; 
    }
}

.tags{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap; 
    position: relative;
    z-index: 2;
    @media (max-width: 768px) {
        z-index: unset; 
    }
}

.tag {
    font-size: 0.75rem;
    display: flex;
    width: auto;
    min-width: max-content;
    max-height: 2rem;
    justify-content: space-between;
    align-items: center;
    text-transform: lowercase;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.count {
    height: auto;
    background: var(--white);
    border-radius: 0.25rem;
    padding: 0.0625rem 0.1875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 1rem;
    margin: 0 0 0 1rem;
    color: var(--blue);
}

@media (max-width: 768px) {
    .discuss-card-content{
        width: auto;
    }
}

.df-btn{
    height: 2rem;
}

.df-reply-btn,.df-cancel-btn{
    background: var(--white);
    padding: .5rem 1rem;
    font-size: .75rem;
    border: 1px solid var(--blue);
    color: var(--blue);
    border-radius: 0.25rem;
  }

  .ui.container {
    display: block;
    max-width: 100%!important;
}
  @media only screen and (max-width: 767px){
  .ui.container {
    width: auto!important;
    margin-left: 1em!important;
    margin-right: 1em!important;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 768px){
    .ui.container {
        width: 90%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

// rtl css

html[dir='rtl'] .related-discuss-part{
    padding: 0 1.5rem 1rem 0;  
}

html[dir='rtl'] .df-back-btn img {
    margin-right: inherit;
    margin-left: 0.25rem;
}

html[dir='rtl'] .df-close-btn img {
    margin-left: inherit;
    margin-right: 0.25rem;
}
